User thunt

Host auth-test.k9h.dev
  ProxyCommand bash -c '/usr/local/bin/cloudflared access ssh-gen --hostname %h; ssh -tt %r@cfpipe-auth-test.k9h.dev >&2 <&1'

Host cfpipe-auth-test.k9h.dev
  HostName auth-test.k9h.dev
  ProxyCommand /usr/local/bin/cloudflared access ssh --hostname %h
  IdentityFile ~/.cloudflared/auth-test.k9h.dev-cf_key
  CertificateFile ~/.cloudflared/auth-test.k9h.dev-cf_key-cert.pub

Host *.k9h.dev
  ProxyCommand /usr/local/bin/cloudflared access ssh --hostname %h
  ServerAliveInterval 20
  TCPKeepAlive no

Host *.ktnagrph.com
  ProxyCommand /usr/local/bin/cloudflared access ssh --hostname %h

Host github github.com
 HostName github.com
 User git

Host bitbucket bitbucket.org
 HostName bitbucket.org
 User git
