[submodule "editors/vim/vim/bundle/base16-vim"]
	path = editors/vim/vim/bundle/base16-vim
	url = github:chriskempson/base16-vim.git
[submodule "editors/vim/vim/bundle/bufkill.vim"]
	path = editors/vim/vim/bundle/bufkill.vim
	url = github:vim-scripts/bufkill.vim
[submodule "editors/vim/vim/bundle/nerdtree"]
	path = editors/vim/vim/bundle/nerdtree
	url = github:scrooloose/nerdtree
[submodule "editors/vim/vim/bundle/vim-fugitive"]
	path = editors/vim/vim/bundle/vim-fugitive
	url = github:tpope/vim-fugitive
[submodule "editors/vim/vim/bundle/vim-multiple-cursors"]
	path = editors/vim/vim/bundle/vim-multiple-cursors
	url = github:terryma/vim-multiple-cursors
[submodule "editors/vim/vim/bundle/vim-tmux-navigator"]
	path = editors/vim/vim/bundle/vim-tmux-navigator
	url = github:christoomey/vim-tmux-navigator
[submodule "editors/vim/vim/vim-javascript-syntax"]
	path = editors/vim/vim/vim-javascript-syntax
	url = github:jelera/vim-javascript-syntax
[submodule "editors/vim/vim/bundle/tagbar"]
	path = editors/vim/vim/bundle/tagbar
	url = github:majutsushi/tagbar
[submodule "editors/vim/vim/bundle/ctrlp.vim"]
	path = editors/vim/vim/bundle/ctrlp.vim
	url = github:kien/ctrlp.vim
[submodule "editors/vim/vim/bundle/local_vimrc"]
	path = editors/vim/vim/bundle/local_vimrc
	url = github:LucHermitte/local_vimrc
[submodule "editors/vim/vim/bundle/lh-vim-lib"]
	path = editors/vim/vim/bundle/lh-vim-lib
	url = github:LucHermitte/lh-vim-lib
[submodule "editors/vim/vim/bundle/vim-better-whitespace"]
	path = editors/vim/vim/bundle/vim-better-whitespace
	url = github:ntpeters/vim-better-whitespace
[submodule "editors/vim/vim/bundle/vim-airline"]
	path = editors/vim/vim/bundle/vim-airline
	url = github:bling/vim-airline
[submodule "editors/vim/vim/bundle/rainbow"]
	path = editors/vim/vim/bundle/rainbow
	url = github:luochen1990/rainbow
[submodule "editors/vim/vim/bundle/taboo.vim"]
	path = editors/vim/vim/bundle/taboo.vim
	url = github:gcmt/taboo.vim
[submodule "editors/vim/vim/bundle/vim-colors-solarized"]
	path = editors/vim/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "editors/vim/vim/bundle/vim-airline-themes"]
	path = editors/vim/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "editors/vim/vim/bundle/dracula-theme"]
	path = editors/vim/vim/bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "editors/vim/vim/bundle/ayu-vim"]
	path = editors/vim/vim/bundle/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim
[submodule "editors/vim/vim/bundle/gruvbox"]
	path = editors/vim/vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "editors/vim/vim/bundle/vim-one"]
	path = editors/vim/vim/bundle/vim-one
	url = https://github.com/rakr/vim-one
