[submodule "editors/vim/vim/bundle/base16-vim"]
	path = editors/vim/vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
	shallow = true
[submodule "editors/vim/vim/bundle/bufkill.vim"]
	path = editors/vim/vim/bundle/bufkill.vim
	url = https://github.com/vim-scripts/bufkill.vim
	shallow = true
[submodule "editors/vim/vim/bundle/nerdtree"]
	path = editors/vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
	shallow = true
[submodule "editors/vim/vim/bundle/vim-fugitive"]
	path = editors/vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	shallow = true
[submodule "editors/vim/vim/bundle/vim-multiple-cursors"]
	path = editors/vim/vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
	shallow = true
[submodule "editors/vim/vim/bundle/vim-tmux-navigator"]
	path = editors/vim/vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
	shallow = true
[submodule "editors/vim/vim/vim-javascript-syntax"]
	path = editors/vim/vim/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
	shallow = true
[submodule "editors/vim/vim/bundle/tagbar"]
	path = editors/vim/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
	shallow = true
[submodule "editors/vim/vim/bundle/ctrlp.vim"]
	path = editors/vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
	shallow = true
[submodule "editors/vim/vim/bundle/local_vimrc"]
	path = editors/vim/vim/bundle/local_vimrc
	url = https://github.com/LucHermitte/local_vimrc
	shallow = true
[submodule "editors/vim/vim/bundle/lh-vim-lib"]
	path = editors/vim/vim/bundle/lh-vim-lib
	url = https://github.com/LucHermitte/lh-vim-lib
	shallow = true
[submodule "editors/vim/vim/bundle/vim-better-whitespace"]
	path = editors/vim/vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
	shallow = true
[submodule "editors/vim/vim/bundle/vim-airline"]
	path = editors/vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
	shallow = true
[submodule "editors/vim/vim/bundle/rainbow"]
	path = editors/vim/vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow
	shallow = true
[submodule "editors/vim/vim/bundle/taboo.vim"]
	path = editors/vim/vim/bundle/taboo.vim
	url = https://github.com/gcmt/taboo.vim
	shallow = true
[submodule "editors/vim/vim/bundle/vim-colors-solarized"]
	path = editors/vim/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
	shallow = true
[submodule "editors/vim/vim/bundle/vim-airline-themes"]
	path = editors/vim/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
	shallow = true
[submodule "editors/vim/vim/bundle/dracula-theme"]
	path = editors/vim/vim/bundle/dracula-theme
	url = https://github.com/dracula/vim.git
	shallow = true
[submodule "editors/vim/vim/bundle/ayu-vim"]
	path = editors/vim/vim/bundle/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim
	shallow = true
[submodule "editors/vim/vim/bundle/gruvbox"]
	path = editors/vim/vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
	shallow = true
[submodule "editors/vim/vim/bundle/vim-one"]
	path = editors/vim/vim/bundle/vim-one
	url = https://github.com/rakr/vim-one
	shallow = true
[submodule "editors/vim/vim/bundle/vim-clang-format"]
	path = editors/vim/vim/bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
	shallow = true
[submodule "editors/vim/vim/bundle/YouCompleteMe"]
	path = editors/vim/vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
	shallow = true
[submodule "editors/vim/vim/bundle/ag"]
	path = editors/vim/vim/bundle/ag
	url = https://github.com/rking/ag.vim
